<h1><%= @recipe.name%></h1>

<p>Author: <%= @recipe.author%></p>
<p>Ingredients: <%= @recipe.ingredients%></p>
<p>Instructions: <%= @recipe.instructions%></p>


<p><a href="/recipes/<%=@recipe.id%>/edit" class="btn btn-info">Update this Recipe</a></p>
<p><a href="/recipes/<%=@recipe.id%>/tag" class="btn btn-info">Tag this recipe</a></p>
<p><a href="/recipes" class="btn btn-primary"> Return to recipe listing</a></p>

